@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*, html {
    margin: 0;
    padding: 0; 
    height: 100%; 
}

header {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 49px;
    color: bisque;
    background-color: rgb(207, 195, 219);
    height: 100px;
    /* vertical-align: middle; */
    /* grid-area: head; */
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: auto;
    /* display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "head head head"
    "nav main aside";
    height: 100vh; */
}

nav {
    flex: 0 1 20%;
    /* padding-left: 1em;
    padding-top: 10em; */
    height: 100%;
    /* grid-area: nav; */
    font-family: 'Quicksand', sans-serif;
    font-weight: medium;
    background-color: rgb(187, 202, 187);
    font-size: 18px;
}
 
main {
    flex: 1 1 60%;
    background-color: white;
    height: 100%;
    /* padding-top: 5em;
    padding-bottom: 5em; */
    /* grid-area: main; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;
    color: rgb(254, 139, 116);
    overflow: auto;
    /* grid-row-end: span 100%; */
    font-size: 22px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

aside {
    flex: 0 1 20%;
    /* padding-left: 1em;
    padding-top: 10em; */
    background-color: rgb(187, 202, 187);
    height: 100%;
    /* grid-area: aside; */
    font-family: 'Quicksand', sans-serif;
    font-weight: medium;
    font-size: 18px;
}

#logo {
    object-fit: contain;
    align-items: center;
    height: 300px;
}

a:link {
    font-family: 'Quicksand', sans-serif;
    font-weight: medium;
    text-decoration: none;
}

a:visited {
    font-family: 'Quicksand', sans-serif;
    font-weight: medium;
    text-decoration: none;
    color: black;
}

a:hover {
    color: bisque;
}

/* footer {
    background-color: rgb(197, 187, 202);
    grid-area: foot;
} */